@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitter", serif;
}
body{
    background-image: url('../images/img-bg-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    // background-position: 100% 100%;
    background-repeat: no-repeat;
}